     <div class="contents">
      <%= form_tag('/tweets', method: :post, class: "clearfix") do %>
        <h2>投稿する</h2>
        <div class="input-box">
          <input placeholder="名前" type="text" name="name" autofocus="true" value="<%= current_user.nickname %>">
          <textarea name="text" placeholder="テキスト" rows="20" cols="40"></textarea>
        </div>
        <div class="button-box">
          <input type="submit" class="submit-button">
        </div>
      <% end %>
    </div>